.profile-page {
  background-color: #fdfdfc;
  color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 40px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.back-button {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color:#c98d2d ;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
}

.back-button:hover {
  color: #7c361c;
}

.profile-card {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.profile-card h1 {
  margin-bottom: 30px;
  color: #a24c27;
}

.profile-image-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #a24c27;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-label {
  display: inline-block;
  margin-top: 12px;
  background-color: #a24c27;
  color: white;
  padding: 10px 20px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #7c361c;
}

.upload-label input {
  display: none;
}

.profile-info {
  text-align: left;
  margin-top: 20px;
}

.profile-info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #444;
}

.profile-info strong {
  color: #a24c27;
}
