.testimonials-section {
  background: linear-gradient(135deg, #f9f6f2 0%, #f1eede 35%, #e5d4c0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #2b2b2b;
  padding: 0px 50px;
  text-align: center;
}


.testimonials-title {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 800;
  color: #a24c27;
}
.testimonial-card {
  background-color: #f1eede; 
  border-radius: 14px;
  padding: 24px 20px;
  margin: 16px;
  box-shadow: 0 4px 12px rgba(162, 76, 39, 0.1);
  min-height: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #d2c8b7;
  color: #3b3b3b;
}

.testimonial-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(162, 76, 39, 0.35);
  border-color: #a24c27;
  background-color: #f9f6f2;
}

.quote-icon {
  font-size: 1.2rem;
  color: #a24c27;
  margin-bottom: 12px;
}

.testimonial-text {
  font-size: 1rem;
  color: #5a5a5a;
  line-height: 1.6;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: #6b6b6b;
  margin-top: auto;
  flex-direction: column;
}

.user-icon {
  font-size: 1.3rem;
  margin-right: 6px;
  color: #a24c27;
}

.author-name {
  font-weight: 600;
  font-size: 1rem;
  color: #2b2b2b;
}

.author-role {
  font-size: 0.85rem;
  color: #999999;
}

.slick-prev:before,
.slick-next:before {
  color: #a24c27;
  font-size: 27px !important;
}

.slick-dots li button:before {
  color: #a24c27;
  font-size: 12px;
}

.testimonial-slide {
  padding: 0 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .testimonial-text {
    -webkit-line-clamp: unset;
    max-height: none;
  }

  .testimonial-card {
    min-height: 350px;
    height: auto;
  }

  .testimonials-section {
    padding: 60px 35px;
  }

  .testimonials-title {
    font-size: 35px;
  }
}
