.testimonials-section {
  background-color: #ffffff;
  color: #2b2b2b;
  padding: 0px 50px 100px;
  text-align: center;
}

.testimonials-title {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #a24c27;
  text-shadow: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 14px;
  padding: 24px 20px;
  margin: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  min-height: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid #e1e1e1;
  color: #2b2b2b;
}

.testimonial-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-color: #5a4bda;
  background-color: #ffffff;
}

.quote-icon {
  font-size: 1.4rem;
  color: #5a4bda;
  margin-bottom: 12px;
}

.testimonial-text {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: #555;
  margin-top: auto;
  flex-direction: column;
}

.icon {
  font-size: 1.3rem;
  margin-right: 6px;
  color: #5a4bda;
}

.author-name {
  font-weight: 600;
  font-size: 1rem;
  color: #2b2b2b;
}

.author-role {
  font-size: 0.85rem;
  color: #888888;
}

.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
  font-size: 27px !important;
}

.slick-dots li button:before {
  color: #5a4bda;
  font-size: 12px;
}

.testimonial-slide {
  padding: 0 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .testimonial-text {
    -webkit-line-clamp: unset;
    max-height: none;
  }

  .testimonial-card {
    min-height: 350px;
    height: auto;
  }

  .testimonials-section {
    padding: 40px 35px 40px;
  }

  .testimonials-title {
    font-size: 28px;
  }
}