*,
*::before,
*::after {
    box-sizing: border-box;
}

.auth-background {
    min-height: 100dvh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.auth-form-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(16px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.8s ease-out;
    margin-top: 150px;
}

.auth-title {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}

.auth-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.06);
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.auth-form input::placeholder {
    color: #bbbbbb;
}

.auth-form input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

.auth-button {
    box-sizing: border-box;
    width: 100%;
    max-width: 380px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(135deg, #61dafb, #1b9cf1);
    color: #0f0f0f;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auth-button:hover {
    background: #1b9cf1;
    color: white;
}

.auth-toggle {
    margin-top: 20px;
    text-align: center;
    color: #bbbbbb;
    font-size: 0.95rem;
}

.auth-toggle span {
    color: #61dafb;
    cursor: pointer;
    font-weight: 600;
}

.auth-intro {
    color: #bbbbbb;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password {
    color: #61dafb;
    cursor: pointer;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    .auth-background{
        min-height: 0;
        margin-top: 180px;
    }

    .auth-form-container {
        margin: 20px;
    }

    .landing-overlay {
        background: none;
        border: none;
        border-radius: 0;
        backdrop-filter: none;
        box-shadow: none;
        padding: 20px;
        text-align: center;
    }

    .landing-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .landing-subtitle {
        font-size: 1.1rem;
        color: #cccccc;
    }

    .landing-benefits p {
        font-size: 1rem;
        color: #bbbbbb;
    }

    .auth-form input {
        box-sizing: border-box;
        width: 100%;
    }

    .auth-button {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}