.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.logo {
  height: 140px;
}

@media (max-width: 768px) {
  .logo-container {
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    height: 120px;
  }
}
