.logo-container {
  display: flex;
  width: 100%;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.logo {
  height: 140px;
}

@media (max-width: 768px) {
  .logo-container {
    position: absolute;
    top: 10;
    left:50%;
    transform: translate(-14%, 0);
  }

  .logo {
    height: 120px;
  }
}
