.logo-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%; 
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.logo {
  height: 140px;
}

@media (max-width: 768px) {
  .logo-container {
    justify-content: center; /* centriraj logo u mobilnom prikazu */
    padding: 0; /* možeš po potrebi zadržati ili ukloniti */
  }

  .logo {
    height: 120px;
  }
}
