:root {
  --blue-main: #5a4bda;
  --blue-dark: #4538a0;
  --blue-light-bg: #f6f7ff; 
  --blue-light-focus: #eef0ff; 
  --blue-border: #c8c9f3;      
  --form-bg: #e9ebf5;         
  --toast-bg: #2d2c35;
  --toast-progress: white;
}