.faq-wrapper {
  background-color: #fdfdfc;
  color: #ffffff;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-title {
  font-size: 48px;
  font-weight: 800;
  color: #a24c27;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.faq-item {
  margin-bottom: 12px;
  border-bottom: 1px solid #333;
}

.faq-question {
  background: none;
  border: none;
  color: #a24c27;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.faq-answer {
  padding: 16px 18px;
  background-color: #a24c27;
  color: #ffffff;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
  border-radius: 4px;
  margin-top: 8px;
}
@media (max-width: 480px) {
  .faq-question {
    font-size: 0.95rem;
  }

  .faq-title{
    font-size: 35px;
  }

  .faq-answer {
    font-size: 0.9rem;
    padding: 10px 10px;
    text-align: left;
  }
}