.header {
  height: 100px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header img {
  height: 120px;
}

.user-section {
  position: relative;
  cursor: pointer;
}

.user-icon {
  font-size: 24px;
  user-select: none;
  color: #070707;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: -15px;
  background-color: #242429;
  border: 1px solid #2e2e33;
  border-radius: 4px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-name {
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff;
}

.logout-button {
  padding: 8px 16px;
  font-size: 14px;
  background: none;
  border: none;
  color: #ff4d4f;
  text-align: left;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #333339;
}

.profile-link{
  color:white;
  text-decoration: none;
}